.sparkline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sparkline-svg {
    display: block;
}

.sparkline-empty {
    font-size: 10px;
    color: #999;
    text-align: center;
    padding: 8px;
}

