header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #7B7B7A;
    color: #F6F6F4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 2rem;
    
}

h1 {
    font-size: 62px;
}

img {
    width: 210px;
}

