.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 8rem;
    width: 100%;
    background-color: #1a1a1a;
    color: #ffffff;
}

.main-header img svg{
    width: 240px;
}

.nav-menu ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-menu a {
    color:#adbac7;
    text-decoration: none;
    font-weight: 500;
}

.nav-menu a:hover {
    color: #64cfff
}